.background_img{
    width:100%;
    background: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0));
}

.btn{
    background-color: whitesmoke !important;
    /* color: black; */
}

.paddingtitle{
    padding-top: 15px;
}